.header__menu {
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  list-style-type: none;
}

.header__menu-link {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header__menu {
    gap: 20px;
  }
}

@media screen and (max-width: 580px) {
  .header__menu {
    gap: 15px;
  }
}
