.header {
  grid-area: header;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
}

.header__navigation {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  margin: 0;
}

.header__logo {
  max-width: 32px;
  max-height: 32px;
}

.header__menu {
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  list-style-type: none;
}

.header__menu-link {
  text-decoration: none;
  color: #fff;
}
