.members {
  grid-area: members;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  height: 100%;
  width: 100%;
}

.members__title {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 200px;
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
  z-index: 1;
  margin: 0;
}

.members-cards__list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
}
.members-cards__list-item {
  width: 100%;
  display: flex;
  max-height: 400px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  filter: grayscale(100%);
}

.members-cards__title {
  position: absolute;
  z-index: 1;
  font-size: 45px;
  font-weight: normal;
  margin: 0;
}

.members-cards__image {
  object-fit: cover;
  width: 100%;
  min-height: 400px;
  height: 100%;
}

.members-cards__list-item:hover {
  filter: none;
}
