.footer {
  grid-area: footer;
  color: var(--color-dark);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: right;
  align-items: end;
  margin: 0 15px 15px 0;
  padding: 0;
  background-color: var(--color-light);
}
